[MASTER]
ignore-paths='^scaleapi/api_client/*'
disable=
    missing-module-docstring,
    too-few-public-methods,
    too-many-public-methods,
    too-many-locals,
    too-many-arguments,
    too-many-instance-attributes,
    invalid-name,
    too-many-lines, # __init__.py is > 1000 lines
